@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-moz-selection { background: rgb(100, 255, 218);color:#0A192F; }
::selection { background: rgb(100, 255, 218);color:#0A192F; }

body{
    background-color: #0A192F;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;    
}


   
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #C1CCEB;
    font-size: 22px;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h2{
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    color: #8892B0;
    font-size: 15px;
    letter-spacing: .12em;
    text-transform: lowercase;
    transition: all 0.3s;
}

h2:hover{
    color: rgb(100, 255, 218);
    cursor: default;
}

h2::before{
    content:"{"
}
h2::after{
    content:"}"
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

a{
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 10px;
}

a:hover{
    transform: translateY(-3px)
}

svg{
    width: 18px;
    height: 18px;
    color: #C1CCEB;
    fill: #C1CCEB;
}

svg:hover,a:hover{
    color: rgb(100, 255, 218);
    fill: rgb(100, 255, 218);
}

.left{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
}

.right{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: rgb(168, 178, 209);

}

.mail{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.mail::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}
.mail-text{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin: 10px auto;
    padding: 10px;
}

@media only screen and (max-width: 790px) {
    svg{
        width: 28px;
        height: 28px;
    }
  }

  @media only screen and (max-width: 390px) {
    svg{
        width: 15px;
        height: 15px;
    }
    ul::after{
        height: 10px;
    }
    .mail::after{
        height: 10px;
    }
    .mail-text{

        letter-spacing: 0em;
        writing-mode: vertical-rl;
        margin: 0;
        padding: 10px;
    }
  }